@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --text-color-dark: hsl(202, 57%, 15%);
  --text-color-grey: hsl(201, 23%, 34%);
  --text-color-grey-light: hsl(203, 15%, 47%);
  --text-color-grey-lighter: hsl(208, 21%, 88%);

  --text-color-highlight: hsl(12, 30%, 42%);

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --background-color-light: #f7f7f7;

  --border-radius: 20px;
}

body {
  max-width: 1250px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  margin: 0 16px;
  /* border: 2px solid red; */
}

h1 {
  /* border: 2px solid red; */
  color: var(--text-color-dark);
  font-size: 1.875rem;
}

.navbar {
  display: flex;
  gap: 64px;
  list-style: none;
  /* border: 2px solid red; */
  font-size: 0.875rem;
  color: var(--text-color-dark);
  font-weight: bold;
}

.navbar li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar li svg {
  font-size: 1.125rem;
}

/* BODY */
/* search */
.search-container {
  max-width: 450px;
  margin: 0px auto 16px;
}

.search-container form {
  display: flex;
}

.search-container input {
  width: 80%;
  font-size: 0.875rem;
  padding: 12px 24px;
  background-color: var(--background-color-light);
  border-radius: var(--border-radius);
  font-family: "Inter", sans-serif;
}

.search-container input::placeholder {
  color: var(--text-color-grey-light);
}

.search-btn {
  display: inline-flex;
  font-size: 1.25rem;
  padding: 4px;
  align-items: center;
  position: relative;
  right: 45px;
  background-color: inherit;
  color: var(--text-color-grey-light);
}

/* restaurant items */
.restaurant-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  padding: 16px;
  max-width: 280px;
}

.card .store-name-with-cuisine {
  padding: 8px 0px;
}

.card h2 {
  font-size: 1rem;
  color: var(--text-color-dark);
}

.card h3 {
  font-size: 0.75rem;
}

.card h3,
h4 {
  color: var(--text-color-grey);
  font-weight: var(--font-weight-normal);
  line-height: 2;
}

.card img {
  width: 100%;
}

.card .store-item-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 2;
  padding: 8px 0px 16px;
}

.card .star-rating h4 {
  color: white;
  background-color: #47c379;
  padding: 0 8px 0 4px;
  display: flex;
  gap: 4px;
}

.card .store-item-details h4 svg {
  position: relative;
  top: 5px;
}

.card .store-offer h4 {
  font-size: 0.875rem;
  color: var(--text-color-highlight);
  display: flex;
  align-items: center;
  gap: 4px;
}

.card .store-offer {
  border-top: 1px solid var(--text-color-grey-lighter);
  padding: 12px 0px;
}

.card .store-offer h4 svg {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px hsl(203, 15%, 90%);
}
