@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --text-color-dark: hsl(202, 57%, 15%);
  --text-color-grey: hsl(201, 23%, 34%);
  --text-color-grey-light: hsl(203, 15%, 47%);
  --text-color-grey-lighter: hsl(208, 21%, 88%);

  --text-color-highlight: hsl(12, 30%, 42%);

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --background-color-light: hsl(0, 0%, 97%);
  --background-color-dark: hsl(202, 57%, 15%);

  --border-radius: 20px;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}


/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--text-color-grey-lighter);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: hsl(0deg 0% 100% / 95%);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

h1 {
  color: var(--text-color-dark);
  font-size: 1.875rem;
}

.navbar {
  display: flex;
  gap: 64px;
  list-style: none;
  font-size: 0.875rem;
  color: var(--text-color-dark);
  font-weight: bold;
}

.navbar li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar li svg {
  font-size: 1.125rem;
}


/* BODY */
/* search */
.search-container {
  background-color: white;
  position: sticky;
  top: 80px;
  z-index: 2;
}

.search-container form {
  position: absolute;
  top: -59px;
  left: 27%;
  display: flex;
}

.search-container input {
  width: 384px;
  font-size: 0.875rem;
  padding: 12px 24px;
  background-color: var(--background-color-light);
  border-radius: var(--border-radius);
  font-family: "Inter", sans-serif;
  backdrop-filter: saturate(180%) blur(5px);
  background-color: hsla(203, 58%, 15%, 0.051);
}

.search-container input::placeholder {
  color: var(--text-color-grey-light);
}

.search-btn {
  display: inline-flex;
  font-size: 1.25rem;
  padding: 4px;
  align-items: center;
  position: relative;
  right: 45px;
  background-color: inherit;
  color: var(--text-color-grey-light);
}

/* top carousel images */
.top-carousel-images-container {
  background-color: var(--background-color-dark);
}

.top-carousel-images-container img {
  width: 260px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.slick-list {
  padding: 32x 0;
}

.top-carousel-images-container img:hover {
  transform: scale(1.05);
  overflow: visible;
}

.slick-slider {
  max-width: 1200px;
  margin: 0 auto;
  height: 340px;
  display: flex;
  align-items: center;
}

.slick-prev,
.slick-next {
  top: 46%;
  z-index: 1;
}

.slick-prev {
  left: -32px;
}

.slick-next {
  right: 32px;
}

.slick-next:before,
.slick-prev:before {
  content: none;
}

.slick-next svg {
  color: var(--text-color-grey);
  font-size: 48px;
  background-color: white;
  border-radius: 30px;
  padding: 12px;
}

.slick-next path,
.slick-prev svg {
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slick-next svg:hover path {
  transform: translateX(24%);
}

.slick-prev svg {
  color: var(--text-color-grey);
  font-size: 48px;
  background-color: white;
  border-radius: 30px;
  padding: 0 8px 0 16px;
}

.slick-prev svg:hover {
  padding: 0 16px 0 8px;
}

/* Filter container */
.filter-container {
  height: 72px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-color-grey-lighter);
  position: sticky;
  top: 80px;
  box-shadow: 0 3px 6px rgb(28 28 28 / 10%);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: hsl(0deg 0% 100% / 95%);
}

.filter-container h4 {
  color: var(--text-color-dark);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.filter-category {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 48px;
}

.filter-category p {
  font-size: 1rem;
  color: var(--text-color-grey-light);
}

.filter-sub-category {
  display: flex;
  align-items: center;
  gap: 4px;
}

.filter-sub-category svg {
  /* color: #207b90; */
  font-size: 30px;
}

/* restaurant items */
.restaurant-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 32px;
}

.card {
  padding: 16px;
  max-width: 280px;
}

.card .store-name-with-cuisine {
  padding: 8px 0px;
}

.card h2 {
  font-size: 1rem;
  color: var(--text-color-dark);
}

.card h3 {
  font-size: 0.75rem;
  margin-top: 4px;
  color: var(--text-color-grey-light);
  font-weight: var(--font-weight-normal);
}

.card h4 {
  color: var(--text-color-grey);
  font-weight: var(--font-weight-normal);
  line-height: 2;
}

.card img {
  width: 100%;
}

.card .store-item-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 2;
  padding: 8px 0px 16px;
}

.card .star-rating h4 {
  color: white;
  background-color: #47c379;
  padding: 0 8px 0 4px;
  display: flex;
  gap: 4px;
}

.card .store-item-details h4 svg {
  position: relative;
  top: 5px;
}

.card .store-offer h4 {
  font-size: 0.875rem;
  color: var(--text-color-highlight);
  display: flex;
  align-items: center;
  gap: 4px;
}

.card .store-offer {
  border-top: 1px solid var(--text-color-grey-lighter);
  padding: 12px 0px;
}

.card .store-offer h4 svg {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px hsl(203, 15%, 90%);
}
